/* large screen */
@media ( min-width : 768px) {
    .panel-default {
        margin-left: 10px;
        margin-right: 10px;
    }
    .alert {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.bold {
    font-weight: bold;
}

.f-link-panel {
    float: right;
    padding: 0px;
}

.f-title-panel {
    float: left;
    padding-top: 2px;
}

.f-balance-negative {
    font-weight: bold;
    color: #d9534f;
}

.f-balance-positive {
    font-weight: bold;
}
