/* large screen */
@media ( min-width : 768px) {
    .panel-default {
        margin-left: 10px;
        margin-right: 10px;
    }
    .alert {
        margin-left: 10px;
        margin-right: 10px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}
p, div {
    font-family: 'Open Sans';
}

.navbar {
    min-height: 65px;
}

.navbar-nav li a {
    line-height: 35px;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}



.bold {
    font-weight: bold;
}

.f-link-panel {
    float: right;
    padding: 0px;
}

.f-title-panel {
    float: left;
    padding-top: 2px;
}

.f-balance-negative {
    font-weight: bold;
    color: #d9534f;
}

.f-balance-positive {
    font-weight: bold;
}

.ocf-inline-label {
    margin-left: 5px;
    margin-right: 5px;
}

.tab-content {
    margin-top: 10px;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */
    overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;       /* let the content decide it  */
} /* bootstrap hack end */
