<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="modal fade" tabindex="-1" role="dialog" id="newCategoryDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Register New Category</h4>
            </div>

            <form method="post" th:action="@{/categories}" th:object="${category}">

                <div class="modal-body">
                        <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? has-error">
                            <label for="description" class="control-label">Description</label>
                            <input type="text" class="form-control" id="description" th:field="*{description}"/>
                        </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-floppy-o"></i> Save
                    </button>
                </div>
                </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</html>