<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="DefaultLayout">
<head>
    <title>OCF - Reports</title>
    <script th:src="@{/js/jquery-2.2.0.min.js}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" th:src="@{/js/charts.js}"></script>
</head>

<section layout:fragment="content">

        <div class="ocf-tabs">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#daily" data-toggle="tab">Daily</a></li>
                <li role="presentation"><a href="#monthly" data-toggle="tab">Monthly</a></li>
                <li role="presentation"><a href="#opt3" data-toggle="tab">Option 3</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="daily">
                    <div id="chart_div"></div>
                </div>

                <div class="tab-pane fade" id="monthly">
                    <div id="monthly_chart_div"></div>
                    <div class="col-md-6" style="height: 500px" id="category_outgoing_chart_div"></div>
                    <div class="col-md-6" style="height: 500px" id="category_incoming_chart_div"></div>
                </div>
                <div class="tab-pane fade" id="opt3">Content inside tab C</div>
            </div>

        </div>
</section>

</html>