<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="DefaultLayout">
<head>
    <title>OCF - Reports</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" th:src="@{/js/charts.js}"></script>
</head>

<section layout:fragment="content">

        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#balance" data-toggle="tab">Balance</a></li>
                <li role="presentation"><a href="#opt2" data-toggle="tab">Option 2</a></li>
                <li role="presentation"><a href="#opt3" data-toggle="tab">Option 3</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="balance">
                    <div id="chart_div"></div>
                    <div id="monthly_chart_div"></div>
                </div>

                <div class="tab-pane fade" id="opt2">Content inside tab B</div>
                <div class="tab-pane fade" id="opt3">Content inside tab C</div>
            </div>

        </div>
</section>

</html>